.container{
    display: flex;
    justify-content: center;
}

.form_action {
    border: 0.15em solid black;
    padding: 1em;
    width : 12em;
    display: flex;
    justify-content: center;
}

.container form {
    padding: 0 !important;
}

.container form input{
    width: 10.5em;
    border-width: .2em;
}

.container form div:nth-of-type(n){
    margin-bottom: 1em;
}