/* Global style
------------------------*/
html{
   box-sizing : border-box;
}
*, *:before, *:after{
   box-sizing: inherit;
}
   

body{
   color: #f3a8a8;
   margin: 0px;
   padding: 0px;
}
img{
   width: 300px;
}
a{
   color: hotpink;
}
.content-wrap{
   max-width: 900px;
   width: auto;
   /*margin: top bottom*/
   margin: 0 auto;
   padding: 60px 0;
}
/* Profile
-------------------------*/
header{
   background-color: #2f3661;
}
header p{
   color: white;
}

/* Projects
------------------------*/
.projects{
   background-color: #f7fff7;
   color: black;
}
.projects h3{
   margin-top: 0;
} 
.projects a{
   color: rgb(206, 197, 197);
}
.projects .btn{
   color: hotpink;
   background-color: lavenderblush;
   text-decoration: none;
   padding: 7px;
   border-radius: 5px;
}
.projects .btn:hover{
   background-color: lavender;
}
#btn{
   text-decoration: none;
   background-color: hotpink;
   color: black;
   border-radius: 10px;
}

.projects .btn:active{
   background-color: rgba(240, 240, 255,50%);
}

.project-all{ 
   overflow: auto;
   border-bottom: 1px double black;

   /*top and bottom 25px left and right 0px*/
   padding: 25px 0;
}

.project-all img{
   float: left;
   margin-right: 30px;
}



/* Work experience
------------------------*/
.work-experience{
   background-color: #a1c6d7;
   color: black;
}

/* Education
------------------------*/

/* Contact
------------------------*/
footer{

   background-color: #343434;
}

footer ul {
   color: white;
   list-style: none;
}
