
/* Global style
------------------------*/
body{
   color: #343434;
}
img{
   width: 300px;
}
a{
   color: hotpink;
}
a:hover{
   text-decoration: none;
}
/* Profile
-------------------------*/
header{
   background-color: #2f3661;
}

/* Projects
------------------------*/
.projects{
   background-color: #f7fff7;
}
.projects a{
   background-color: lavenderblush;
   text-decoration: none;
   padding: 7px;
   border-radius: 5px;
}
.projects a:hover{
   background-color: lavender;
}
.projects a:active{
   background-color: rgba(240, 240, 255,50%);
}


/* Work experience
------------------------*/
.work-experience{
   background-color: #a1c6d7;
}

/* Education
------------------------*/

/* Contact
------------------------*/
footer{
   background-color: #343434;
}
