
/* Global style
------------------------*/
body{
   color: #343434;
}
img{
   width: 300px;
}
/* Profile
-------------------------*/
header{
   background-color: #2f3661;
}

/* Projects
------------------------*/
.projects{
   background-color: #f7fff7;
}


/* Work experience
------------------------*/
.work-experience{
   background-color: #a1c6d7;
}

/* Education
------------------------*/

/* Contact
------------------------*/
footer{
   background-color: #343434;
}
