.content {
    text-align: center;
}

.content ol {
    list-style: none;
}

.images {
    text-align: center;
}
.user-table{
    text-align: center;
}

.user-table table{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border: 1px solid grey;
}
/*Overwriting with colgroup is only possible with transparency*/
.user-table td, th {
    background-color: rgba(216, 216, 216,0.5);
    border: 1px solid grey;
}
/*If we want later on we can overwrite it*/
.user-table th {
    border: 1px solid grey;
    background-color: lightcyan;
}

.user-table .properties{
    background-color: rgb(24, 124, 45);
}